<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
   <title>Brain disease</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="static/css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="static/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="static/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/custom.css" />
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98" style="color:red; background-color:#abc9af">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="static/images/loader.gif" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->
	<style >
div.a {
  font-size: 15px !important;
}

div.b {
  font-size: large;
}

div.c {
  font-size: 150%;
}

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 28px;
}
</style>
    <!-- Start header -->
    <header class="top-header" >
        <div class="header_top">

            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="index.html"><img src="static/brain.jpg" alt="image" width="180" height="120"></a>
                    </div>
                    <div class="site_information"><br>
                        <b><h1 style="color:blue">Brain Tumor Detection using Deep Learning Algorithm CNN-GoogleNet With LSTM</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                      <!--  <ul>
                            <li><a href="mailto:exchang@gmail.com"><img src="static/images/mail_icon.png" alt="#" />exchang@gmail.com</a></li>
                            <li><a href="tel:exchang@gmail.com"><img src="static/images/phone_icon.png" alt="#" />+7123569847</a></li>
                            <li><a class="join_bt" href="#">Join us</a></li>
                        </ul>-->
                    </div>
                </div>
            </div>

        </div>
<!--         <b><h6 style="color:yellow"><span class="blink">CLOUD COMPUTING</span></h6></b>-->
        <div class="header_bottom" style="background: #273e71;">

          <div class="container">

            <div class="col-sm-12">

                <div class="menu_orange_section" style="background: #ff880e;">

                   <nav class="navbar header-nav navbar-expand-lg">


                     <div class="menu_section">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a  href="{{url_for('index')}}">Home</a></li>
                        <li><a class="active " href="{{url_for('about')}}">About-Project</a></li>
                        <li><a href="{{url_for('user')}}">User</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>

                </div>
                </div>
            </div>
          </div>
        </div>

    </header>

	<br>
	<br>
	<br>
	<br>
    <!-- End header -->
<section class="hero-section">
		<div class="container">

			<div class="row">
				<div class="col-lg-60">
					<div class="hs-text">

<!--                            <center> <b><h3 style="color:#f51b6b">Brain Tumor Detection using CNN with Transfer Learning</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>-->
<!--						 <br><br>-->
                                     <div class="row">
				<div class="col-lg-60">
					<div class="hs-text">
                        <center><h3 style="color:blue">About Brain Tumor</h3>
							<img src="static/images/n.jpg" alt="#" /><br>
							</center>

               </div>
					<br>
					<br>
                 <b>   <p style="color:black">
                     A brain tumor is a mass or growth of abnormal cells in your brain.

Many different types of brain tumors exist. Some brain tumors are noncancerous (benign), and some brain tumors are cancerous (malignant). Brain tumors can begin in your brain (primary brain tumors), or cancer can begin in other parts of your body and spread to your brain (secondary, or metastatic, brain tumors).

How quickly a brain tumor grows can vary greatly. The growth rate as well as location of a brain tumor determines how it will affect the function of your nervous system.

Brain tumor treatment options depend on the type of brain tumor you have, as well as its size and location.

                 </p>
           </b>      </div></div>
                                <center> <h3 style="color:blue">About Deep Learning</h3>
                                <img src="static/images/dpl.jpg" alt="#" />
							</center>

               </div>

                     <b><p style="color:black">  Deep Learning is a subfield of machine learning concerned with algorithms inspired by the structure
						 and function of the brain called artificial neural networks.
If you are just starting out in the field of deep learning or you had some experience with neural networks some time ago, you may be
						 confused. I know I was confused initially and so were many of my
						 colleagues and friends who learned and used neural networks in the 1990s and early 2000s.

The leaders and experts in the field have ideas of what deep learning is and these specific and nuanced perspectives shed a lot of light on what deep learning is all about.

In this post, you will discover exactly what deep learning is by hearing from a range of experts and leaders in the field.
					 The adjective "deep" in deep learning comes from the use of multiple layers in the network. Early work showed that
						 a linear perceptron cannot be a universal classifier, and then that a network with a nonpolynomial activation
						 function with one hidden layer of unbounded width can on the other hand so be. Deep learning is a modern variation
						 which is concerned with an unbounded number of layers of bounded size, which permits practical application and
						 optimized implementation, while retaining theoretical universality under mild conditions. In deep learning the
						 layers are also permitted to be heterogeneous and to deviate widely from biologically informed connectionist models,
						 for the sake of efficiency, trainability and understandability, whence the "structured" part.</p>
</b>
					</div>
				 </div>
                <div class="row">
				<div class="col-lg-60">
					<div class="hs-text">
                        <center><h3 style="color:blue">About Convolutional Neural Network</h3>
							<img src="static/images/cnn.png" alt="#" /><br>
							</center>

               </div>
					<br>
					<br>
                 <b>   <p style="color:black">In deep learning, a convolutional neural network (CNN, or ConvNet) is a class of deep neural networks,
                    most commonly applied to analyzing visual imagery. ... Convolutional networks were inspired by biological
                         processes in that the connectivity pattern between neurons resembles the organization of the animal visual cortex.</p>
           </b>      </div></div>
                 <div class="row">
				<div class="col-lg-60">
					<div class="hs-text">
                        <center><h3 style="color:blue">About Convolution Layer , Pooling Layer & Fully Connected Layer</h3>
							<img src="static/images/fully.PNG" alt="#" /><br>
							</center>

               </div>
					<br>
					<br>
                    <center><h3 style="color:red">About Convolution Layer </h3></center>
                        <br>
                  <b>  <p style="color:black">Convolution is the first layer to extract features from an input image.
                         Convolution preserves the relationship between pixels by learning image features using
                         small squares of input data. It is a mathematical operation that takes two inputs such
                         as image matrix and a filter or kernel.</p></b>
                    <br>
                     <center><h3 style="color:red">About  Pooling Layer  </h3></center>
                        <br>
                   <b> <p style="color:black">Pooling layers section would reduce the number of parameters when the images are too large.
                         Spatial pooling also called subsampling or downsampling which reduces the dimensionality of each
                         map but retains important information. Spatial pooling can be of different types:
                        </p></b>
                    <br>
                    <center><h3 style="color:#656b09">Max Pooling </h3></center><br>
                    <center><h3 style="color:#656b09">Average Pooling </h3></center><br>
                      <center><h3 style="color:#656b09">Sum/Average Pooling </h3></center><br>

                        <br>
                <b>    <p style="color:black">Max pooling takes the largest element from the rectified feature map.
                         Taking the largest element could also take the average pooling.
                         Sum of all elements in the feature map call as sum pooling.
                        </p></b>
                </div></div>
                <br>

                <div class="row">
				<div class="col-lg-60">
					<div class="hs-text">
                    <center><h3 style="color:red">About Fully Connected Layer </h3></center>
                        <br>
                  <b>  <p style="color:black">Fully Connected Layer is simply, feed forward neural networks.
                         Fully Connected Layers form the last few layers in the network. The input to the fully
                         connected layer is the output from the final Pooling or Convolutional Layer, which is
                         flattened and then fed into the fully connected layer.</p></b>
                    <br>
                    </div>
                </div>
					<br>
					<br>

					</div>
				 </div>

  <footer class="footer-box" style="width: 2250px;">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src="static/images/n.jpg" alt="#" width="250" height="288"/>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="{{url_for('index')}}">> Home</a></li>
                                    <li><a href="{{url_for('about')}}">> About</a></li>
                                    <li><a href="{{url_for('reg')}}">> Sign Up</a></li>
                                    <li><a href="{{url_for('user')}}">> Sign In</a></li>
                              </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Newsletter</h3>
                             <p>Please subscribe to know weekly updates on global brain epidemics</p>
                             <div class="newsletter_form">
                                <form action="#">
                                   <input type="email" placeholder="Your Email" name="#" required="">
                                   <button>Submit</button>
                                </form>
                             </div>
                         </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Contact us</h3>
                             <ul class="full">
                               <li><img src="static/images/i5.png"><span>Andhra Pradesh<br>India</span></li>
                               <li><img src="static/images/i6.png"><span>braindisease@gmail.com</span></li>
                               <li><img src="static/images/i7.png"><span>+12586954775</span></li>
                             </ul>
                         </div>
                            </div>
                        </div>
					</div>
                </div>
			 </div>
        </div>
    </footer>
    <!-- End Footer -->

<!--    <div class="footer_bottom">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--  <div class="col-12">-->
<!--                    <marquee> <center style="color:white"><h3 style="color:white"> <b style="color:yellow">A Web Application Developed By:</b>-->
<!--               G. Chandra Navaneeth Reddy,&nbsp&nbspN. Mohan Wamsi  &nbsp and &nbsp&nbsp V. Vinay Kumar Reddy</h3></center></marquee>-->
<!--                </div>                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div> </div>
                    </div></section>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="static/js/jquery.min.js"></script>
	<script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/jquery.pogo-slider.min.js"></script>
    <script src="static/js/slider-index.js"></script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/form-validator.min.js"></script>
    <script src="static/js/contact-form-script.js"></script>
    <script src="static/js/isotope.min.js"></script>
    <script src="static/js/images-loded.min.js"></script>
    <script src="static/js/custom.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

